<p>You have received a new message from your website contact form. Here are the details:<p>
<p>Name: <%= @name %> </p>
<p>Email: <%= @email %> </p>
<p>Phone: <%= @phone %> </p>
<p>Message: <%= @message %> </p>