<!DOCTYPE html>
<html>
<head>
  <title>RailsStartbootstrapStylishPortfolio</title>
  <%= stylesheet_link_tag 'stylish_portfolio/manifest.css', media: 'all' %>
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <%= javascript_include_tag 'stylish_portfolio/manifest.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
