<!DOCTYPE html>
<html>
<head>
  <title>Start Bootstrap Freelancer</title>
  <%= stylesheet_link_tag 'freelancer/manifest.css', media: 'all' %>
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <%= javascript_include_tag 'freelancer/manifest.js' %>
  <%= csrf_meta_tags %>
</head>

<body id="page-top" class="index">

<%= yield %>

</body>
</html>


